/* DOM inspector - stylesheet
   autor: Maros Vasilisin, xvasil02
   2018
 */

/* okno pre vystup 
	- fixne na pravej strane stranky, zabera tretinu obrazovky, vzdy navrchu, scrollovatelne do oboch stran
 */
#dom-inspector-output {
	position: fixed;
	width: 33%;
	z-index: 100;
	background-color: #272727;
	color: #14a76c;
	border: 4px solid #14a76c;
	right: 0;
	top: 10px;
	bottom: 10px;
	padding: 3px;
	font-weight: bold;
	overflow-y: scroll;
	overflow-x: scroll;
	cursor: pointer;
    white-space:nowrap;
   	font-style : normal;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 11pt;
}

#dom-inspector-output h1 {
	text-align: center;
}

/* nadpis vo vystupe*/
#dom-inspector-output h1 {
	color: #14a76c;
}

/* obalovac pre body danej stranky 
	- body zmensene na 2/3
 */
#dom-inspector-wrapper {
	width: 67%;
	z-index: 90;
	overflow-y: none;
	cursor: pointer;
}

 /* jeden riadok vo vystupe 
	- nastavenie margin a padding aby to nebolo tak natesno
  */
.dom-inspector-row {
	margin: 3px;
	padding: 2px;
	display: inline-block;
}

/* pomocny span v ktorom sa uklada css cesta, nema byt vidiet*/
.dom-inspector-row span {
	display: none;
}

/* styl pre vybrany element na stranke*/
.dom-inspector-selected {
	background-color: #f99;
	border: 3px solid #c00;
}
/* styl pre vybrany element v DOM inspektore*/
.dom-inspector-node-selected {
	background-color: #f99;
	border: 3px solid #c00;
	color: black;
}